.logo {
  height: 52px;
  width: 176px;
  background: url(../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}



@media (max-width:767px) {
  .logo {
    width: 142px;
    height: 42px;
  }
}
