.logo {
  height: 52px;
  width: 176px;
  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}



@media (max-width: 320px) {
  .logo {
    width: 142px;
  }
}
